

.logi{
    height: 5px;
    width: 5px;
}

.btn{
    background-color: 	rgb(245, 168, 206);
    border: 2px solid white;

}
.card{
    margin-top: 10px;
  
   margin-left: -60px;
    
}




.btn:hover{
    background-color: black;
}
.card-img-t{
    height:270px;
    
    
}
