
<div class="row" style="margin-left:100px ;">
    <div class="col col-3 col-sm-4 col-md-3">
        <div class="card" style="width: 18rem;">
            
            <img src="https://images.unsplash.com/photo-1548036328-c9fa89d128fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmFnfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            
            <div class="card-body">
                
                <br>
                
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" routerLink="bag">
                    <a href="bag" style="color:white ;">Bag</a>
                </button>
                
            </div>
            
        </div>
    </div>
    <div class="col col-3 col-sm-4 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1600721391689-2564bb8055de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGpld2VsbGVyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                    Jewellary<span class="badge bg-secondary"></span>
                </button>
               
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-4 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/photos/letting-go-feet-up-on-tropical-vacation-palm-tree-picture-id848140244?b=1&k=20&m=848140244&s=170667a&w=0&h=3-CrTRjhT7x1jeSQWwrSkuqoHejmHPgbEy-KJVyW4yg=" alt="..." class="card-img-t">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                    Flip-Flops<span class="badge bg-secondary">4</span>
                </button>
                
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-4 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1597983073512-90bd150e19f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGt1cnRhc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Kurtas
                </button>
               
                
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-4 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1522312346375-d1a52e2b99b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2F0Y2h8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   watches
                </button>
                
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-4 col-md-3" >
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1503342217505-b0a15ec3261c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dG9wc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Tops
                </button>
               
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-4 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1562183241-b937e95585b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHNob2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="..." height="270px">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Casual Shoes
                </button>
               
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-4 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1594633312681-425c7b97ccd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dHJvdXNlcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Trousers
                </button>
               
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-4 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/photos/runner-man-getting-ready-to-train-outdoor-on-city-stairs-gym-outside-picture-id1350486237?b=1&k=20&m=1350486237&s=170667a&w=0&h=Kfshfy3ApBrwdqI-_KJqohwQ3sORLXwnT06AX51hImw=" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Sport Shoes
                </button>
                
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-4 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1582142366243-0b6a4aca0d99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHN1bmdsYXNzZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Sun Glass
                </button>
                
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-4 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/photos/the-girl-uses-perfume-perfume-in-female-hands-picture-id1314395929?b=1&k=20&m=1314395929&s=170667a&w=0&h=Egd2yxzoBUl6cn7vs1sRW3vROmFTK-_lH53Uanz9utM=" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   BOdy Mist
                </button>
                
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-4 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1624984673204-99b3d99936d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2hhbXBvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary" >
                  Shampoos
                </button>
                
                
            </div>
        </div>
    </div>
</div>
<div>
