
<div class="row" style="margin-left:100px ;">
    <div class="col col-3 col-sm-2 col-md-3">
        <div class="card" style="width: 18rem;">
            
            <img src="https://images.unsplash.com/photo-1548036328-c9fa89d128fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmFnfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            
            <div class="card-body">
                
                <br>
                
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                    Bag
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(32, 105, 32);">
                    Active
                </button>
            </div>
            
        </div>
    </div>
    <div class="col col-3 col-sm-2 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1544654227-5fe6d6bba359?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHdvcmslMjBiYWd8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                    Sling<span class="badge bg-secondary">4</span>
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:yellow">
                    Inactive
                </button>
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-2 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/photos/purse-and-accessories-laid-out-on-passenger-seat-of-car-with-a-banana-picture-id674800848?b=1&k=20&m=674800848&s=170667a&w=0&h=gRCqNO-gCY-CxOxeS-YSYN8KuVUlcwaErc_Dv1p_RoY=" alt="..." class="card-img-t">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                    Trolly<span class="badge bg-secondary">4</span>
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(32, 105, 32);">
                    Active
                </button>
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-2 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1554632084-1dcbc408d11d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8d29yayUyMGJhZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Bag Packs
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:yellow">
                    Inactive
                </button>
                
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-2 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1525200845123-a29d24f1ae65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8d29yayUyMGJhZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   watches
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(200, 39, 39);">
                    Out of Stock
                </button>
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-2 col-md-3" >
        <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/photos/women-is-holding-handbag-near-luxury-car-picture-id1271796113?b=1&k=20&m=1271796113&s=170667a&w=0&h=9vvvXq3GIokXs66KpwgKfJoIDYyQW9TEBXOWZSXhzX0=" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Wrist watches
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:yellow">
                    Inactive
                </button>
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-2 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/photos/fashion-portrait-of-elegant-woman-in-brown-sweater-picture-id1223379047?b=1&k=20&m=1223379047&s=170667a&w=0&h=CiiDaP2DDOR1W58h74CKrIpbB206_GlJv8VCZRTyXOw=" alt="..." height="270px">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Casual Shoes
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(32, 105, 32);">
                    Active
                </button>
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-2 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1523779105320-d1cd346ff52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d29tZW4lMjBiYWd8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Formal Shoes
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(200, 39, 39);">
                    Out of Stock
                </button>
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-2 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1628149455678-16f37bc392f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8d29tZW4lMjBiYWd8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Sport Shoes
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(32, 105, 32);">
                    Active
                </button>
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-2 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1594633313593-bab3825d0caf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8d29tZW4lMjBiYWd8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Sun Glass
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(200, 39, 39);">
                    Out of Stock
                </button>
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-2 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1546241183-0ed3f8a4a824?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHdvbWVuJTIwYmFnfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Wallet
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:yellow">
                    Inactive
                </button>
                
            </div>
        </div>
    </div>
    <div class="col col-3 col-sm-2 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1585298964631-36fd7f7abd94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHdvbWVuJTIwYmFnfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Perfume
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(32, 105, 32);">
                    Active
                </button>
                
            </div>
        </div>
    </div>
</div>
<div>
