<!-- https://www.w3schools.com/howto/howto_css_flip_card.asp -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
      </div>
      <div class="flip-card-back">
        <h1>Mynka</h1> 
        <p>Xyz building, 3rd cross<br>Hampankatta, Mangalore-546732</p> 
        <p>Contact Number:8976543456</p>
        <p>email:mynka@gmail.com</p>
        <a href="#" class="fa fa-facebook"></a>&nbsp;
<a href="#" class="fa fa-twitter"></a>&nbsp;

<a href="#" class="fa fa-linkedin"></a>&nbsp;
<a href="#" class="fa fa-youtube"></a>&nbsp;
<a href="#" class="fa fa-instagram"></a>&nbsp;

      </div>
    </div>

<div class="flip-cards">
    <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
        </div>
        <div class="flip-card-back">
          <h1>Mynka</h1> 
          <p>Blue screen, 4th cross<br>Balmatta, Bangalore-543332</p> 
          <p>Contact Number:8976543476</p>
          <p>email:mynka@gmail.com</p>
          <a href="#" class="fa fa-facebook"></a>&nbsp;
<a href="#" class="fa fa-twitter"></a>&nbsp;

<a href="#" class="fa fa-linkedin"></a>&nbsp;
<a href="#" class="fa fa-youtube"></a>&nbsp;
<a href="#" class="fa fa-instagram"></a>&nbsp;
        </div>
      </div>
  </div>
  <div class="flip-cardsss">
    <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
        </div>
        <div class="flip-card-back">
          <h1>Mynka</h1> 
          <p>Red hat building, 4th cross<br>Koramangala, Bangalore-543332</p> 
          <p>Contact Number:8976543476</p>
          <p>email:mynka@gmail.com</p>
          <a href="#" class="fa fa-facebook"></a>&nbsp;
<a href="#" class="fa fa-twitter"></a>&nbsp;

<a href="#" class="fa fa-linkedin"></a>&nbsp;
<a href="#" class="fa fa-youtube"></a>&nbsp;
<a href="#" class="fa fa-instagram"></a>&nbsp;
        </div>
      </div>
  </div>
</div>