@import url('https://fonts.googleapis.com/css2?family=Combo&family=Nabla&family=Qwitcher+Grypen:wght@700&display=swap');
marquee{
    text-shadow:2px 3px 3px rgba(223, 102, 102, 0.724);
    color:rgb(118, 12, 67);
    font-size: 28px;
    font-family: 'Combo', cursive;
    font-family: 'Nabla', cursive;
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 50px;
    }