<div class="row" style="margin-left:100px ;">
    <div class="col col-4 col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1548036328-c9fa89d128fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmFnfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                    Bag
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(32, 105, 32);">
                    Active
                </button>
            </div>
        </div>
    </div>
    <div class="col col-4 col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1587467512961-120760940315?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHNsaW5nJTIwYmFnfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                    Sling<span class="badge bg-secondary">4</span>
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:yellow">
                    Inactive
                </button>
                
            </div>
        </div>
    </div>
    <div class="col col-4 col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/photos/packing-suitcase-for-travel-vacation-in-new-normal-top-view-picture-id1311253634?b=1&k=20&m=1311253634&s=170667a&w=0&h=jQKtsG95TDft5UXq9tZldkusWH-Ge6DAOqoyYGZZres=" alt="..." class="card-img-t">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                    Trolly<span class="badge bg-secondary">4</span>
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(32, 105, 32);">
                    Active
                </button>
                
            </div>
        </div>
    </div>
    <div class="col col-4 col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1597708724657-6b294dc5a3af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGJhZyUyMHBhY2t8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Bag Packs
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:yellow">
                    Inactive
                </button>
                
                
            </div>
        </div>
    </div>
    <div class="col col-4 col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1522312346375-d1a52e2b99b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2F0Y2h8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   watches
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(200, 39, 39);">
                    Out of Stock
                </button>
                
            </div>
        </div>
    </div>
    <div class="col col-4 col-sm-6 col-md-4" >
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1579543768549-96d37c1df78f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8d3Jpc3QlMjB3YXRjaHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Wrist watches
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:yellow">
                    Inactive
                </button>
                
            </div>
        </div>
    </div>
    <div class="col col-4 col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1562183241-b937e95585b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHNob2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="..." height="270px">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Casual Shoes
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(32, 105, 32);">
                    Active
                </button>
                
            </div>
        </div>
    </div>
    <div class="col col-4 col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1563433836985-8ce7df0842ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Zm9ybWFsJTIwc2hvZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Formal Shoes
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(200, 39, 39);">
                    Out of Stock
                </button>
                
            </div>
        </div>
    </div>
    <div class="col col-4 col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/photos/runner-man-getting-ready-to-train-outdoor-on-city-stairs-gym-outside-picture-id1350486237?b=1&k=20&m=1350486237&s=170667a&w=0&h=Kfshfy3ApBrwdqI-_KJqohwQ3sORLXwnT06AX51hImw=" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Sport Shoes
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(32, 105, 32);">
                    Active
                </button>
                
            </div>
        </div>
    </div>
    <div class="col col-4 col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1582142366243-0b6a4aca0d99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHN1bmdsYXNzZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Sun Glass
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(200, 39, 39);">
                    Out of Stock
                </button>
                
            </div>
        </div>
    </div>
    <div class="col col-4 col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1614330316655-51dbca10f5f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbGV0c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Wallet
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:yellow">
                    Inactive
                </button>
                
            </div>
        </div>
    </div>
    <div class="col col-4 col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1594035910387-fea47794261f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyZnVtZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" class="card-img-t" alt="...">
            <div class="card-body">
                
                <br>
                <button type="button" class="btn btn-primary">
                   Perfume
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(32, 105, 32);">
                    Active
                </button>
                
            </div>
        </div>
    </div>
</div>
<div>
