@import url('https://fonts.googleapis.com/css2?family=Combo&family=Nabla&family=Qwitcher+Grypen:wght@700&display=swap');

input {
    width: 60%;
    margin-left: 100px;
}

label {
    color:red;
    margin-left: 100px;
}

form {
    padding: 20px;
    margin-left: 400px;
    width: 40%;
    border-style: inset;
    border-radius: 10px;
    border-color: gainsboro;
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    
}
form:hover {
    color: rgb(136, 24, 98);
    box-shadow: 2px 3px 14px rgb(219, 232, 120);
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(6,84,170,1) 50%, rgba(61,93,194,1) 61%, rgba(57,191,218,1) 81%);
    transform:scale(1.1);
    border: 2px solid black;

}

button {
    margin-left: 190px;
    
}

span {
    width: 100%;
}
h2{
    font-family: 'Nabla', cursive;
}
*{
    background-image: url();
}
